.video-background {
    position: relative;
    overflow: hidden; /* Ensures any overflow is hidden */
    height: 100vh; /* Set to full viewport height */
}

.video-background video {
    position: absolute; /* Position the video absolutely */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    min-width: 100%; /* Ensure it covers the full width */
    min-height: 100%; /* Ensure it covers the full height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    z-index: -1; /* Place the video behind the content */
    transform: translate(-50%, -50%); /* Center the video */
}

.main-container {
  position: relative;
  width: 30%;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
}

.search-area {
    text-align: center;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.btn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  width: 30%;
  padding: 10px;
  background-color: #008ECC;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.weather-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px; /* Space between boxes */
}

.weather-box {
  background-color: rgba(255, 255, 255, 0.2); /* Transparent background */
  /* backdrop-filter: blur(10px); Glass effect */
  border-radius: 10px; /* Rounded corners */
  padding: 15px; /* Padding inside the box */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  text-align: center;
  margin-bottom: 10px;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather img {
  width: 70px; /* Icon size */
  height: 70px; /* Icon size */
  margin-right: 10px; /* Space between icon and text */
}

.temp {
  margin: 10px 0;
  font-size: 1.5em; /* Increase font size for temperature */
  text-align: center;
}

.city-box {
  text-align: center;
}

.time-country-box {
  text-align: center;
}